/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* General Classes */
body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Header */
body > header {
    height: 80px;
    background-color: rgb(248, 249, 250);
}

header nav {
    width: 100%;
    background-color: white;
}

header nav .logo {
    width: 50px;
}

header nav .logo-desktop {
    width: 180px;
}

header nav .search {
    width: 100%;
}

header nav .search .my_input {
    background-color: rgb(229, 229, 229);
}

header nav .search .my_input-label {
    background-color: rgb(229, 229, 229);
}

header nav .buttons .fa-bell {
    color: rgb(255, 143, 0);
}

/* Aside */
aside {
    width: 80px;
    height: calc(100vh - 80px);
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(5, 30, 52);
    background-size: cover;
    background-position: center;
}

aside > .container,
aside  .container > .row {
    height: 100%;
}

aside ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    overflow-y: auto;
}

main > header {
    background-color: rgb(27, 114, 232);
}

main > header .my_badge {
    background-color: rgb(22, 91, 186)!important;
}

main > header .my_plus {
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

main > header .my_offcanvas {
    width: 700px!important;
}

/* Responsive Rules */
@media screen and (min-width: 992px) {
    aside {
        width: 180px;
    }

    main {
        width: calc(100vw - 180px);
    }
}